:root {
   --color-white: rgb(255, 255, 255);
   --color-black: rgb(0, 0, 0);
   --color-green-base: rgb(0, 87, 16);
   --color-green-primary: rgb(0, 89, 52);
   --color-green-secondary: rgb(14, 117, 74);
   --color-gray-base: rgb(54, 54, 54);
   --color-gray-primary: #717171;
   --color-gray-secondary: #9e9e9e;

   --font-family-open: "Open Sans", sans-serif;
   /* --font-family-open: "Lato", sans-serif; */

   --font-menu-size: 16px;
   --font-menu-weight: 400;
   --font-menu-transform: uppercase;

   /* --font-banner-title-size: 40px;
   --font-banner-title-weight: 700;

   --font-banner-text-size: 18px;
   --font-banner-text-weight: 400; */

   --font-h2-text-size: 100px;
   --font-h2-text-weight: 700;
   
   --font-p-text-size: 30px;
   --font-p-text-weight: 400;
   
   --font-h3-text-size: 40px;
   --font-h3-text-weight: 700;

   /* --font-p--size: 14px;
   --font-p-text-weight: 300; */

   --font-button-size: 14px;
   --font-button-weight: 400;
}

.bg-green {
   background: var(--color-green-primary);
}

.h2-bg-green {
   color: var(--color-white);
   font-size: var(--font-h2-text-size);
   font-weight: var(--font-h2-text-weight);
}

.h3-bg-green {
   color: var(--color-white);
   font-size: var(--font-h3-text-size);
   font-weight: var(--font-h3-text-weight);
   padding-bottom: 10px;
}

.p-bg-green {
   color: var(--color-black);
   font-size: var(--font-p-text-size);
   font-weight: var(--font-p-text-weight);
}

.bg-white {
   background: var(--color-white);
}

.h2-bg-white {
   color: var(--color-green-primary);
   font-size: var(--font-h2-text-size);
   font-weight: var(--font-h2-text-weight);
   padding: 0px 0px 50px 0px;
}



.p-bg-white {
   color: var(--color-black);
   font-size: var(--font-p-text-size);
   font-weight: var(--font-p-text-weight);
   line-height: 70px;
}


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font-family-open);
}

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1 1 100vw;
   height: 130px;
}

.header-container {
   position: fixed;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1 1 100vw;
   max-width: 1400px;
   width: 100%;
   height: 130px;
   padding: 0px 50px;
   background-color: var(--color-white);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 20px #9e9e9e;
}

.logo > img {
   height: 110px;
}

nav {
   display: flex;
   font-size: 24px;
}

.nav-bar {
   display: flex;
   list-style: none;
   text-decoration: none;
}

.nav-bar-item > a {
   text-decoration: none;
   padding: 10px 20px;
   color: var(--color-black);
   font-weight: 600;
   position: relative;
}

.nav-bar-item > a::after {
   content: " ";
   width: 0%;
   height: 4px;
   background-color: var(--color-green-primary);
   position: absolute;
   left: 0;
   bottom: 0;
   transition: 0.5s ease-in-out;
}

.nav-bar-item > a:hover::after {
   width: 100%;
   /* border-bottom: 7px solid var(--color-green-primary); */
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1 1 100vw;
}

.slider {
   margin: 0 auto;
   padding: 0 !important;
   width: 100%;
   overflow: hidden;
}

.sliders {
   position: relative;
   width: 500%;
   max-height: 600px;
   display: flex;
}
 
.sliders input, 
.img-mobile {
   display: none;
}

.slide-img {
   width: 20%;
   position: relative;
   text-align: center;
   transition: 1s;
   display: flex;
   /* justify-content: center; */
   align-items: center;

}

.slide-img > img {
   width: 100%;
   height: 100%;
   /* max-height: 600px; */
}

.nav-manual, 
.nav-auto {
   position: absolute;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 7%;
}

.nav-manual-btn, 
.nav-auto > div {
   border: 2px solid #FFFFFF;
   padding: 7px;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 0px 4px black;
   transition: 0.5s;
}

.nav-manual-btn:not(:last-child), 
.nav-auto > div:not(:last-child) {
   margin-right: 20px;
}

.nav-manual-btn:hover {
   background-color: #FFFFFF;
}

#radio-1:checked ~ .first {
   margin-left: 0;
}

#radio-2:checked ~ .first {
   margin-left: -20%;
}

#radio-3:checked ~ .first {
   margin-left: -40%;
}

#radio-1:checked ~ .nav-auto .nav-auto-btn-1,
#radio-2:checked ~ .nav-auto .nav-auto-btn-2,
#radio-3:checked ~ .nav-auto .nav-auto-btn-3 {
   background-color: #FFFFFF;
}

.about-us,
.cults {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 100vw;
   /* height: 500px; */
}

.about-us-container,
.cults-container {
   text-align: center;
   max-width: 1400px;
   height: 100%;
   padding: 0px 50px; 
}

.about-us .paragraph {
   padding: 0px 20px;
}

/* #####-#####-#####-#####-#####-#####-#####-##### */

.swiper-slide{
   display: flex;
}
.swiper .swiper-wrapper .swiper-slide > img {
   /* position: relative; */
   width: 100%;
   max-height: 1100px;
   /* height: 100vh; */
}

/* #####-#####-#####-#####-#####-#####-#####-##### */

.cults-container,
.about-us-container {
   padding: 40px 0px;
}

.cults-box {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.cults-box .cult-day {
   background-color: var(--color-green-secondary);
   border: 3px solid var(--color-white);
   width: 340px;
   padding: 40px 10px;
   margin: 10px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.cults-box .cult-day h3 {
   color: var(--color-white);
   font-size: var(--font-h3-text-size);
   font-weight: var(--font-h3-text-weight);
   padding-bottom: 10px;
}

.cults-box .cult-day p {
   color: var(--color-white);
   font-size: var(--font-p-text-size);
   font-weight: var(--font-p-text-weight);
   /* line-height: 0px; */
}

.cults-box .cult-day span {
   font-weight: 700;
}

/* #####-#####-#####-#####-#####-#####-#####-##### */


/* ######################################################## */
/* .photos-nav-manual, 
.photos-nav-auto {
   position: absolute;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 7%;
}

.photos-nav-manual-btn, 
.photos-nav-auto > div {
   border: 2px solid #FFFFFF;
   padding: 7px;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 0px 0px 4px black;
   transition: 0.5s;
}

.photos-nav-manual-btn:not(:last-child), 
.photos-nav-auto > div:not(:last-child) {
   margin-right: 20px;
}

.photos-nav-manual-btn:hover {
   background-color: #FFFFFF;
}

#photos-radio-1:checked ~ .photos-first {
   margin-left: 0;
}

#photos-radio-2:checked ~ .photos-first {
   margin-left: -20%;
}

#photos-radio-3:checked ~ .photos-first {
   margin-left: -40%;
}

#photos-radio-1:checked ~ .photos-nav-auto .photos-nav-auto-btn-1,
#photos-radio-2:checked ~ .photos-nav-auto .photos-nav-auto-btn-2,
#photos-radio-3:checked ~ .photos-nav-auto .photos-nav-auto-btn-3 {
   background-color: #FFFFFF;
} */





















.div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 100vw;
   height: 500px;
}

.div-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1 1 100vw;
   max-width: 1400px;
   height: 100%;
   padding: 0px 50px;
}

.footer {
   display: flex;
   justify-content: center;
   flex: 1 1 100vw;
   /* height: 500px; */
}
.footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1 1 100vw;
   max-width: 1400px;
   height: 100%;
   padding: 50px 0px;
}
.footer-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* width: 100%; */
   /* height: 100%; */
   flex: 1 1 100vw;
   /* border: 1px solid white; */
   /* color: var(--color-white); */
}

.footer-logo {
   width: 200px;
}

.footer-box p {
   color: var(--color-white);
   font-size: 24px;
   font-weight: var(--font-p-text-weight);
   margin: 7px 0;
   /* line-height: 0px; */
}

/* .footer-box i {
   font-size: 54px;
} */

@media screen and (max-width: 930px) {
   .header-container {
      justify-content: center;
   }
   .img-desktop {
      display: none;
   }
   .img-mobile {
      display: block;
   }
   .nav {
      display: none;
   }
   .h2-bg-white {
      font-size: 40px;
      padding: 0px 0px 30px 0px;
   }

   .cults-container h2 {
      font-size: 40px;
      padding: 0px 0px 30px 0px;
   }

   .p-bg-white {
      font-size: 24px;
      line-height: 40px;
   }
   .footer-container {
      display: block;
   }
   .footer-box{
      margin-top: 50px;
      margin-bottom: 80px;
   }
}